<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Superhero</title>
</head>
<body>
<h1>Create a Team and Heroes!</h1>
    <form method="post" action="/checkout">
        <p>What would you like to purchase?</p>
        <textarea name="item"></textarea>
        <br>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>
